.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-q37pUZM2K8dD);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  outline-style: none;
  font-family: var(--token-ZQ9bEWirdmzf);
  font-size: var(--token-K3L16yX6FjQI);
  line-height: var(--token-aqaGU1R5uLsi);
  justify-self: flex-start;
  text-decoration-line: none;
  border-radius: var(--token-UGS1bLtBfr5F);
  padding: 0rem;
  border-width: 0px;
  border-style: none;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-AQ9CovxmBcDF);
  outline-offset: var(--token-LSAPjPJa1vNw);
  outline-color: var(--token-VRR6vxpgpc2H);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.overlay {
  min-width: 0px;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  background: var(--token-yVQ4Kr-HYcju);
  z-index: 200;
  right: 0;
  bottom: 0;
  display: none;
  border-radius: var(--token-UGS1bLtBfr5F);
}
.overlayshape_square {
  border-radius: var(--token-7ixz4EObEpQb);
}
.overlayshape_pill {
  border-radius: var(--token-wE872w7tuarU);
}
.overlaybackgroundEffect_soften {
  display: block;
}
.overlaybackgroundEffect_darken {
  background: var(--token-d84ULut1L_yw);
  display: block;
}
.overlayflatSide_top {
  border-top-left-radius: var(--token-e3803H6Q8bxt);
  border-top-right-radius: var(--token-e3803H6Q8bxt);
}
.overlayflatSide_right {
  border-top-right-radius: var(--token-e3803H6Q8bxt);
  border-bottom-right-radius: var(--token-e3803H6Q8bxt);
}
.overlayflatSide_bottom {
  border-bottom-right-radius: var(--token-e3803H6Q8bxt);
  border-bottom-left-radius: var(--token-e3803H6Q8bxt);
}
.overlayflatSide_left {
  border-top-left-radius: var(--token-e3803H6Q8bxt);
  border-bottom-left-radius: var(--token-e3803H6Q8bxt);
}
.background {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-lr7Vu8O6Tzl-);
  z-index: 100;
  border-radius: var(--token-UGS1bLtBfr5F);
}
.backgroundcolor_primary {
  background: var(--token-HnbUvCWuG4PB);
}
.backgroundcolor_secondary {
  background: var(--token-81GIsDf6so8o);
}
.backgroundcolor_accentWarm {
  background: var(--token-DcXLnP_b7VQF);
}
.backgroundcolor_accentCool {
  background: var(--token-ImB9PBN77uik);
}
.backgroundcolor_neutral {
  background: var(--token-v1ircjU7xsVF);
}
.backgroundcolor_info {
  background: var(--token-2WSUpcPoMfXK);
}
.backgroundcolor_positive {
  background: var(--token-hz7MwcPL12-Q);
}
.backgroundcolor_notice {
  background: var(--token-9z6Au6vHUv8Y);
}
.backgroundcolor_negative {
  background: var(--token-kKVSBgdB2ab1);
}
.backgroundcolor_inverse {
  background: var(--token-IZLMd0_CyG_t);
}
.backgroundshape_square {
  border-radius: var(--token-7ixz4EObEpQb);
}
.backgroundshape_pill {
  border-radius: var(--token-wE872w7tuarU);
}
.backgroundkind_fill {
  display: block;
}
.backgroundkind_subtle {
  background: var(--token-wS0voJ35v1yx);
  display: block;
}
.backgroundbackgroundEffect_soften {
  display: block;
}
.backgroundbackgroundEffect_darken {
  display: block;
}
.backgroundflatSide_top {
  border-top-left-radius: var(--token-e3803H6Q8bxt);
  border-top-right-radius: var(--token-e3803H6Q8bxt);
}
.backgroundflatSide_right {
  border-top-right-radius: var(--token-e3803H6Q8bxt);
  border-bottom-right-radius: var(--token-e3803H6Q8bxt);
}
.backgroundflatSide_bottom {
  border-bottom-right-radius: var(--token-e3803H6Q8bxt);
  border-bottom-left-radius: var(--token-e3803H6Q8bxt);
}
.backgroundflatSide_left {
  border-top-left-radius: var(--token-e3803H6Q8bxt);
  border-bottom-left-radius: var(--token-e3803H6Q8bxt);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-UGS1bLtBfr5F);
  border: var(--token-YLrBwFqFFZ1v) solid var(--token-XsL47lTHtWh3);
}
.bordercolor_primary {
  border-color: var(--token-VD-uVZbsVAlS);
}
.bordercolor_secondary {
  border-color: var(--token-EN_Bjfs1fBR4);
}
.bordercolor_accentWarm {
  border-color: var(--token-6bHC00LSvybX);
}
.bordercolor_accentCool {
  border-color: var(--token-AbNnAZVh412q);
}
.bordercolor_neutral {
  border-color: var(--token-XsL47lTHtWh3);
}
.bordercolor_info {
  border-color: var(--token-rjnRvX920t8Z);
}
.bordercolor_positive {
  border-color: var(--token-Hz0sGIkoDRwg);
}
.bordercolor_notice {
  border-color: var(--token-1LuVz4mSFQ77);
}
.bordercolor_negative {
  border-color: var(--token-WxPlrC4VawLY);
}
.bordercolor_inverse {
  border-color: var(--token-WfrYAz3yb8eH);
}
.bordershape_square {
  border-radius: var(--token-7ixz4EObEpQb);
}
.bordershape_pill {
  border-radius: var(--token-wE872w7tuarU);
}
.borderkind_fill {
  display: none;
}
.borderkind_subtle {
  display: none;
}
.borderkind_text {
  display: none;
}
.borderkind_bordered {
  border-width: var(--token-tux5v6jYN9T0);
}
.borderflatSide_top {
  border-top-left-radius: var(--token-e3803H6Q8bxt);
  border-top-right-radius: var(--token-e3803H6Q8bxt);
}
.borderflatSide_right {
  border-top-right-radius: var(--token-e3803H6Q8bxt);
  border-bottom-right-radius: var(--token-e3803H6Q8bxt);
}
.borderflatSide_bottom {
  border-bottom-left-radius: var(--token-e3803H6Q8bxt);
  border-bottom-right-radius: var(--token-e3803H6Q8bxt);
}
.borderflatSide_left {
  border-top-left-radius: var(--token-e3803H6Q8bxt);
  border-bottom-left-radius: var(--token-e3803H6Q8bxt);
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-UGS1bLtBfr5F);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-6HQuyJDFgLag);
}
.root[data-disabled] .interactionEffect {
  background: var(--token--FZg7zxjhtdX);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-18aX5dnJuSBs);
}
.interactionEffectshape_square {
  border-radius: var(--token-7ixz4EObEpQb);
}
.interactionEffectshape_pill {
  border-radius: var(--token-wE872w7tuarU);
}
.interactionEffectflatSide_top {
  border-top-left-radius: var(--token-e3803H6Q8bxt);
  border-top-right-radius: var(--token-e3803H6Q8bxt);
}
.interactionEffectflatSide_right {
  border-top-right-radius: var(--token-e3803H6Q8bxt);
  border-bottom-right-radius: var(--token-e3803H6Q8bxt);
}
.interactionEffectflatSide_bottom {
  border-bottom-right-radius: var(--token-e3803H6Q8bxt);
  border-bottom-left-radius: var(--token-e3803H6Q8bxt);
}
.interactionEffectflatSide_left {
  border-top-left-radius: var(--token-e3803H6Q8bxt);
  border-bottom-left-radius: var(--token-e3803H6Q8bxt);
}
.contentContainer {
  display: flex;
  z-index: 300;
  padding: var(--token-XxOXXGzN3jXj) var(--token-DH0Xi_18odKy);
}
.contentContainer > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-nQSVkPWk3zYo));
  width: calc(100% + var(--token-nQSVkPWk3zYo));
}
.contentContainer > :global(.__wab_flex-container) > *,
.contentContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentContainer > :global(.__wab_flex-container) > picture > img,
.contentContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-nQSVkPWk3zYo);
}
.contentContainersize_extraSmall {
  padding: var(--token-JCooleNNN_YN) var(--token-nRXECTqPtSns);
}
.contentContainersize_small {
  padding: var(--token-3h5Pke3FyZOC) var(--token-vz8V5wQT2fPW);
}
.contentContainersize_large {
  padding: var(--token-tIqn8jrniUcG) var(--token-msTE13XKMuVX);
}
.contentContainersize_extraLarge {
  padding: var(--token-TacafFp319Z9) var(--token-hakBoelv_1Kw);
}
.freeBox__ekg0D {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__ekg0DV62Jc {
  display: flex;
}
.slotTargetStart {
  color: var(--token-T34DaqAm5vK-);
}
.slotTargetStartcolor_secondary {
  color: var(--token-tUkyt7ZDiccr);
}
.slotTargetStartcolor_accentWarm {
  color: var(--token-ZocKp-yUpGHe);
}
.slotTargetStartcolor_accentCool {
  color: var(--token-LA208tzSXCm2);
}
.slotTargetStartcolor_neutral {
  color: var(--token-rMSupEeU6nSR);
}
.slotTargetStartcolor_info {
  color: var(--token-A4gN06zJxQjA);
}
.slotTargetStartcolor_positive {
  color: var(--token-6tTjCrIFt83f);
}
.slotTargetStartcolor_notice {
  color: var(--token-cZ8k7Zm982xG);
}
.slotTargetStartcolor_negative {
  color: var(--token-W2rJJlPfUFSq);
}
.slotTargetStartcolor_inverse {
  color: var(--token-hMOf8alPAoXj);
}
.svg__rdRpf {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-sITVnLImzJ2x);
}
.slotTargetLabelcolor_secondary {
  color: var(--token-S9UaYy5Y7dXb);
}
.slotTargetLabelcolor_accentWarm {
  color: var(--token-Ptt1QEAjpJh8);
}
.slotTargetLabelcolor_accentCool {
  color: var(--token-GMBH4pgwDELp);
}
.slotTargetLabelcolor_info {
  color: var(--token-ztVFqomhRdQ-);
}
.slotTargetLabelcolor_positive {
  color: var(--token-m82PzHP5mCx_);
}
.slotTargetLabelcolor_notice {
  color: var(--token-kNX0iCNp6YA8);
}
.slotTargetLabelcolor_negative {
  color: var(--token-BCG-yJta_HvH);
}
.slotTargetLabelcolor_inverse {
  color: var(--token-8xDXbOmy6Dg8);
}
.slotTargetLabelkind_fill {
  color: var(--token-CcpwAqtrintB);
}
.slotTargetLabelbackgroundEffect_soften {
  color: var(--token-Z_Allz0eCpGP);
}
.slotTargetLabelbackgroundEffect_darken {
  color: var(--token-uIIBMIBM5Qqu);
}
.slotTargetLabelsize_extraSmall {
  font-size: var(--token-boKK7f2cnY65);
  line-height: var(--token-WVqmsKdShl83);
}
.slotTargetLabelsize_small {
  font-size: var(--token-Zf0ddrjdsFL6);
  line-height: var(--token-54duonwYZuC7);
}
.slotTargetLabelsize_medium {
  font-size: var(--token-dc29Gv_keu2U);
  line-height: var(--token-IXFdIxACveX-);
}
.slotTargetLabelsize_large {
  font-size: var(--token-YbNpbiFeBIq9);
  line-height: var(--token-p51emtuutM40);
}
.slotTargetLabelsize_extraLarge {
  font-size: var(--token-gZGhCeGOKVal);
  line-height: var(--token-W9rxx0KCAerw);
}
.text__w1Vyu {
  white-space: pre;
  text-decoration-line: none;
}
.freeBox__uCjZn {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__uCjZnPa3A9 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-T34DaqAm5vK-);
}
.slotTargetEndcolor_secondary {
  color: var(--token-tUkyt7ZDiccr);
}
.slotTargetEndcolor_accentWarm {
  color: var(--token-ZocKp-yUpGHe);
}
.slotTargetEndcolor_accentCool {
  color: var(--token-LA208tzSXCm2);
}
.slotTargetEndcolor_neutral {
  color: var(--token-rMSupEeU6nSR);
}
.slotTargetEndcolor_info {
  color: var(--token-A4gN06zJxQjA);
}
.slotTargetEndcolor_positive {
  color: var(--token-6tTjCrIFt83f);
}
.slotTargetEndcolor_notice {
  color: var(--token-cZ8k7Zm982xG);
}
.slotTargetEndcolor_negative {
  color: var(--token-W2rJJlPfUFSq);
}
.slotTargetEndcolor_inverse {
  color: var(--token-hMOf8alPAoXj);
}
.svg__b738O {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
