.root {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 100%;
  background: var(--token-ilO0Nn-AQ6vr);
  min-width: 0;
  padding: 64px 72px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 48px;
}
.freeBox__lhq4J {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox__lhq4J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lhq4J > :global(.__wab_flex-container) > *,
.freeBox__lhq4J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lhq4J > :global(.__wab_flex-container) > picture > img,
.freeBox__lhq4J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2 {
  text-align: center;
}
.freeBox__vUIn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-width: 0;
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lBsEt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__sgaja {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__sgaja > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sgaja > :global(.__wab_flex-container) > *,
.freeBox__sgaja > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sgaja > :global(.__wab_flex-container) > picture > img,
.freeBox__sgaja
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__sgaja {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__sgaja > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__sgaja > :global(.__wab_flex-container) > *,
  .freeBox__sgaja > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sgaja > :global(.__wab_flex-container) > picture > img,
  .freeBox__sgaja
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
  }
}
.tab01:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: right;
}
.text__dCRvc {
  white-space: pre;
}
.tab02:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: right;
}
.tab03:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: right;
}
.tab04:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.column__qEr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px var(--token-Kc0mq51an35t);
  background: var(--token-xvmS7UfqD42l);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-3uYT3PvdCztz);
}
.freeBox__xh6Ni {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  max-width: 600px;
}
.freeBox__xh6Ni > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xh6Ni > :global(.__wab_flex-container) > *,
.freeBox__xh6Ni > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xh6Ni > :global(.__wab_flex-container) > picture > img,
.freeBox__xh6Ni
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.content01:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__en748 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___8JiLc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.content02:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__eub1L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___778Z8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.content03:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___1XImG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__eNvB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.content4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__mv618 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__hiLTx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
