.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  border-radius: var(--token-NtaIwdC0ngjF);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-Gtdvwuxmdz_-);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-Zcj4zER1DxfM);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-tN4HzFQr-S2P);
  outline-color: var(--token-djwxRDjDs7bL);
  outline-offset: var(--token-xkC8CERmoP_5);
}
.contentStack {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-mbOG-NC2mj6Y) var(--token-rRdql2cer7Mr);
}
.contentStack > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - var(--token-jgcbffeLRaCj));
  height: calc(100% + var(--token-jgcbffeLRaCj));
}
.contentStack > :global(.__wab_flex-container) > *,
.contentStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentStack > :global(.__wab_flex-container) > picture > img,
.contentStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: var(--token-jgcbffeLRaCj);
}
.link {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 0px;
  white-space: pre-wrap;
  min-width: 0;
}
.root[data-selected] .link {
  color: var(--token-Pbt6D2M_j_Q-);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-2AwtbA81fMnm);
  min-width: 0;
}
.root[data-selected] .text {
  color: var(--token-Pbt6D2M_j_Q-);
}
