.freeBox__fv1Z5 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: var(--token-XEbqGQcKqfTm);
}
.freeBox__fv1Z5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fv1Z5 > :global(.__wab_flex-container) > *,
.freeBox__fv1Z5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fv1Z5 > :global(.__wab_flex-container) > picture > img,
.freeBox__fv1Z5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___3GgLi {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox___3GgLi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___3GgLi > :global(.__wab_flex-container) > *,
.freeBox___3GgLi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3GgLi > :global(.__wab_flex-container) > picture > img,
.freeBox___3GgLi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jzpRg {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox__jzpRg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jzpRg > :global(.__wab_flex-container) > *,
.freeBox__jzpRg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jzpRg > :global(.__wab_flex-container) > picture > img,
.freeBox__jzpRg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__orr0J {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text__fo7KQ {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___8CFu0 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox___8CFu0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8CFu0 > :global(.__wab_flex-container) > *,
.freeBox___8CFu0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8CFu0 > :global(.__wab_flex-container) > picture > img,
.freeBox___8CFu0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__b0ELq {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text__sSgyX {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.freeBox___84YjF {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox___84YjF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___84YjF > :global(.__wab_flex-container) > *,
.freeBox___84YjF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___84YjF > :global(.__wab_flex-container) > picture > img,
.freeBox___84YjF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3___9XdE7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text___3El9Y {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.text__iYf3W {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.freeBox___1RySe {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
  width: 100%;
}
.freeBox___1RySe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___1RySe > :global(.__wab_flex-container) > *,
.freeBox___1RySe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1RySe > :global(.__wab_flex-container) > picture > img,
.freeBox___1RySe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.cmsDataFetcher__nADv6:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox___5N3Ny {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
}
.freeBox___5N3Ny > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___5N3Ny > :global(.__wab_flex-container) > *,
.freeBox___5N3Ny > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5N3Ny > :global(.__wab_flex-container) > picture > img,
.freeBox___5N3Ny
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.cmsDataFetcher__yv92:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox___7OjQo {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
}
.freeBox___7OjQo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___7OjQo > :global(.__wab_flex-container) > *,
.freeBox___7OjQo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7OjQo > :global(.__wab_flex-container) > picture > img,
.freeBox___7OjQo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.cmsEntryField__t2BvD:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-weight: 600;
}
.cmsEntryField__g3NAz:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.text__iwzA7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cmsEntryField__lreGb:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.text__uWhGg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
