.root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox__gwzp {
  display: block;
  position: absolute;
  min-width: 0px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  background: var(--token-xvmS7UfqD42l);
  padding: 8px;
}
.svg___1Lrp {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: none;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg___1Lrp {
    top: auto;
    height: 100%;
    right: 0;
    bottom: -216px;
    left: 0;
    width: auto;
    transform: none;
    min-height: 0;
  }
}
.columns {
  display: flex;
  flex-direction: row;
  background: none;
  width: 100%;
  height: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: var(--token-K72AYDYsYBi8);
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  --plsmc-rc-col-gap: 8px;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 1024px) {
  .columns {
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1024px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
  }
}
@media (max-width: 1024px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mArl2 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.column__mArl2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 36px);
  height: calc(100% + 36px);
}
.column__mArl2 > :global(.__wab_flex-container) > *,
.column__mArl2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__mArl2 > :global(.__wab_flex-container) > picture > img,
.column__mArl2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 36px;
}
.freeBox___6WowU {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  top: auto;
  left: auto;
}
.freeBox___6WowU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___6WowU > :global(.__wab_flex-container) > *,
.freeBox___6WowU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6WowU > :global(.__wab_flex-container) > picture > img,
.freeBox___6WowU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___6WowU {
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___6WowU > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___6WowU > :global(.__wab_flex-container) > *,
  .freeBox___6WowU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6WowU > :global(.__wab_flex-container) > picture > img,
  .freeBox___6WowU
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.eyebrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h3 {
  font-size: var(--token-YUUshI2lfBP0);
  display: block;
  text-align: center;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.h1 {
  display: block;
}
.freeBox__lZjge {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox__lZjge > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lZjge > :global(.__wab_flex-container) > *,
.freeBox__lZjge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lZjge > :global(.__wab_flex-container) > picture > img,
.freeBox__lZjge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--token-AgtCIVkApoLQ);
}
.text__mgiK4 {
  display: block;
  margin-top: 0px;
  margin-bottom: var(--token-lqxiWZdjAj-z);
  align-self: center;
  text-align: center;
}
.callToActionStack {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
  padding: 16px;
}
.callToActionStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.callToActionStack > :global(.__wab_flex-container) > *,
.callToActionStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.callToActionStack > :global(.__wab_flex-container) > picture > img,
.callToActionStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 544px) {
  .callToActionStack {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 544px) {
  .callToActionStack > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 544px) {
  .callToActionStack > :global(.__wab_flex-container) > *,
  .callToActionStack
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .callToActionStack > :global(.__wab_flex-container) > picture > img,
  .callToActionStack
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
@media (max-width: 1024px) {
  .callToActionStackglobal_theme_dark {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .callToActionStackglobal_theme_dark > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 1024px) {
  .callToActionStackglobal_theme_dark > :global(.__wab_flex-container) > *,
  .callToActionStackglobal_theme_dark
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .callToActionStackglobal_theme_dark
    > :global(.__wab_flex-container)
    > picture
    > img,
  .callToActionStackglobal_theme_dark
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.baseComponentsButton__jkegu:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__kALnS {
  position: relative;
  height: 1em;
}
.text__icDj {
  white-space: pre;
  height: auto;
}
.svg__nrwp5 {
  position: relative;
  height: 1em;
}
.baseComponentsButton__ke9PQ:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__gpgR {
  position: relative;
  height: 1em;
}
.text__gZgdA {
  white-space: pre;
}
.svg__cZyUv {
  position: relative;
  height: 1em;
}
.column__ih40 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.column__ih40 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column__ih40 > :global(.__wab_flex-container) > *,
.column__ih40 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ih40 > :global(.__wab_flex-container) > picture > img,
.column__ih40
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 544px) {
  .column__ih40 {
    display: none;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img {
    flex-grow: 0;
  }
}
